@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  background-size: cover;
  background: url("https://img.wallpapersafari.com/desktop/1920/1080/4/93/Fedfp6.jpg") no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
